{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

    {% image self.banner_image width-1500 as img %}

    <div class="view" style="background-image: url('{{ img.url }}'); background-size: cover; background-position: center; height: 100vh;  color: #fff !important">
        <h1 class="display-4 jumbotron-header">{{ self.banner_title }} </h1>        
        {% if self.banner_cta %}
            <a class="btn btn-primary btn-lg" href="#" role="button">Find out more about our courses</a>
        {% endif %}
    </div>    

{% for block in page.content %}
  {% include_block block %}
{% endfor %}


    <!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://shadowyouth.herokuapp.com/"> FutureGen and Salma Bihi</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

{% endblock %}