{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}


<div class="jumbotron jumbotron-fluid" style="background-color:darkorange;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="display-4"> {{ self.title }}</h1> 
                    <div class="lead">{{ self.subtitle }}</div>
                </div>
            </div>
        </div>
    </div>



    {% for block in page.content %}
        {% include_block block %}
    {% endfor %}


    <!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://shadowyouth.herokuapp.com/"> FutureGen and Salma Bihi</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

{% endblock %}